HELP.md
src/main/resources/static/icomoon/demo-files
src/main/resources/static/icomoon/demo.html
src/main/resources/static/icomoon/Read Me.txt
src/main/resources/static/icomoon/selection.json
src/main/resources/application.properties
mvnw
mvnw.cmd
.mvn
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
