@charset "UTF-8";

* {

    margin: 0;
    padding: 0;
}

*::selection, *::-moz-selection {

    color: white;
    background-color: green;
}

html {
    
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent;
    color: white;
}

.registry-table td {

    border-top: 1px solid green;
}

.table-navigation a::after .table-navigation a::before {

    content: "";
}

.table-navigation a {

    font-size: 2.3rem;
    color: green;
    text-decoration: none;
}

.registry-table th, td, tr {
    text-align: center;
    padding: 1rem;
}

.table-navigation {

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.greetings {

    text-align: center;
    margin: 2rem;
}

@media screen and (max-width: 900px)
{

    body {

        background-color: rgb(0, 0, 17);
    }

    .main-nav {

        height: 3rem;
        border-bottom: 2px solid green;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .main-nav a {

        font-size: 1.5rem;
        color: white;
    }

    .main-nav a::before, .main-nav a::after {

        content: "";
    }

    .greetings {

        font-size: 1.2rem;
    }

    .table-container {

        overflow-x: auto;
    }

    .registry-table {

        margin: 1rem auto;
        border: 2px solid green;
        border-collapse: collapse;
        width: 45rem;
    }


    .registry-table th {

        text-transform: uppercase;
    }

    .table-navigation {

        width: 90%;
    }
}

@media screen and (min-width: 1000px)
{

    body {

        background-color: rgb(0, 0, 17);
    }

    header {

        width: 100%;
        height: 100%;
    }

    .main-nav {

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 4rem;
        border-right: 1px solid green;
    }

    .main-nav a {

        display: block;
        text-align: center;
        margin-top: 3rem;
        font-size: 1.7rem;
        color: white;
        transition: all 200ms linear;
    }

    .main-nav a:hover {

        color: green;
        font-size: 2rem;
    }

    .registry-table {

        position: relative;
        top: 0%;
        left: 50%;
        width: 65%;
        transform: translate(-50%, 0%);
        border: 2px solid green;
        border-radius: 1rem;
        border-style: hidden;
        box-shadow: 0 0 0 2px green;
        border-collapse: collapse;
        margin-top: 1rem;
    }

    .table-navigation {

        width: 65%;
    }
}