<!DOCTYPE html>
<html lang="pt-BR" 
xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link rel="stylesheet" th:href="@{/css/editAccount.css}">
        <title>Atualizar cadastro</title>
    </head>

    <body>
        
        <div class="form-container">

            <h1>Atualizar cadastro</h1>

            <fieldset>
                <legend>Atualize seu cadastro</legend>

                <form th:action="@{/atualizar}" method="post" autocomplete="off">

                    <div class="error-alert" th:if="${param.erro}">Email já em uso!</div>

                    <div class="input">
                        <label for="nome">Nome</label>
                        <input name="firstName" th:value="${user.firstName}" id="nome" type="text" placeholder="Nome" autofocus required>
                    </div>

                    <div class="input">
                        <label for="sobrenome">Sobrenome</label>
                        <input name="lastName" th:value="${user.lastName}" id="sobrenome" type="text" placeholder="Sobrenome" required>
                    </div>
                    
                    <div class="input">
                        <label for="Email">Email</label>
                        <input name="email" th:value="${user.email}" id="Email" type="email" placeholder="Email" required>
                    </div>

                    <div class="input">
                        <label for="senha">Senha</label>
                        <input name="password" id="senha" type="password" placeholder="Senha" required>
                    </div>

                    <button type="submit">Atualizar</button>
                </form> 
            </fieldset>
        </div>
    </body>
</html>