<!DOCTYPE html>
<html lang="en-US"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>Faça login</title>    
    <script src="https://kit.fontawesome.com/3bcd821813.js" crossorigin="anonymous"></script>   

    </head>

    <body>
        
        <div class="form-container">

            <h1>Faça login</h1>

            <h2 th:if="${param.erro}" class="error-alert">Senha ou email inválidos!</h2>

                <form th:action="@{/login}" method="post" autocomplete="off">
                    <fieldset>
                    <legend>Login</legend>

                    <label for="email">Email</label>

                    <input type="email" id="email" placeholder="Email" name="email">
                    
                    <label for="pwd">Senha</label>

                    <input type="password" id="pwd" placeholder="Senha" name="password">
                    

                    <button type="submit">Enviar</button>
                    </fieldset>
                </form>
            
            <div>Não tem uma conta? <a th:href="@{/registrar}">Registre-se</a></div>
        </div>
        
        <p class="github">Projeto disponível no <a href="http://github.com/richardcss/DemonstracaoSQL" class="github-link" target="_blank">GitHub <i class="fab fa-github"></i></a></p>

    </body>
</html>