<!DOCTYPE html>
<html lang="pt-BR"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>Faça login</title>    
    <script src="https://kit.fontawesome.com/3bcd821813.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>

    </head>

    <body>
        
        <div class="form-container">

            <h1>Faça login</h1>

            <fieldset>
                <legend>Login</legend>
                <form th:action="@{/login}" method="post" autocomplete="off">

                    <div class="error-alert" th:if="${param.erro}">Email ou senha incorretos!</div>

                    <div class="input">
                        <label for="email">Email</label>
                        <input autofocus id="email" type="email" name="email" required placeholder="Email">
                    </div>

                    <div class="input">
                        <label for="senha">Senha</label>
                        <input id="senha" type="password" name="password" required
                        placeholder="Senha">
                    </div>

                    <button type="submit">Entrar</button>

                    <span class="register-link">Não tem uma conta? <a th:href="@{/registrar}">Registre-se</a></span>
                </form>
            </fieldset>
        </div>

        <span class="github-link">
            Projeto disponível no 
            <a title="GitHub" class="github-ref" href="http://www.github.com/richardcss/DemonstracaoSQL" target="_blank">
                GitHub <span class="github-logo"><i class="fab fa-github"></i></span>
            </a>
        </span>
    </body>
</html>