<!DOCTYPE html>
<html lang="pt-BR"
xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link rel="stylesheet" th:href="@{/css/register.css}">
        <title>Registre-se</title>
    </head>

    <body>
        
        <div class="form-container">

            <h1>Registre-se</h1>

            <fieldset>
                <legend>Registre-se</legend>

                <form th:action="@{/registrar}" th:object="${newUser}" method="post" autocomplete="off">

                    <div class="error-alert" th:if="${param.erro}">Email já em uso!</div>

                    <div class="input">
                        <label for="nome">Nome</label>
                        <input id="nome" type="text" placeholder="Nome" th:field="*{firstName}" required autofocus>
                    </div>

                    <div class="input">
                        <label for="sobrenome">Sobrenome</label>
                        <input id="sobrenome" type="text" placeholder="Sobrenome" th:field="*{lastName}" required>
                    </div>

                    <div class="input">
                        <label for="email">Email</label>
                        <input id="email" type="email" placeholder="Email" th:field="*{email}" required>
                    </div>

                    <div class="input">
                        <label for="senha">Senha</label>
                        <input id="senha" type="password" placeholder="Senha" th:field="*{password}" required>
                    </div>
                    
                    <button type="submit">Registrar</button>
                </form>

            </fieldset>
        </div>
    </body>
</html>